section.bs-cell.bs-cell-big.pad-top
    header.bs-title Alerts
    .alert
        button.close(type='button', data-dismiss='alert') ×
        strong Warning!
        |  Lorem ipsum dolor sit amet, consectetur.
    .alert.alert-error
        button.close(type='button', data-dismiss='alert') ×
        strong Oh snap!
        |  Suspendisse vitae turpis consequat orci justo.
    .alert.alert-success
        button.close(type='button', data-dismiss='alert') ×
        strong Well done!
        |  Proin id blandit augue, vel hendrerit metus.
    .alert.alert-info
        button.close(type='button', data-dismiss='alert') ×
        strong Heads up!
        |  Pellentesque orci lacus, fringilla a quam sed.