section.bs-cell.bs-cell-big.pad-top
    header.bs-title Blockquotes
    blockquote
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        small
            | Someone famous 
            cite(title='Source Title') Source Title