section.bs-cell.bs-cell-big
    header.bs-title Body with extras
    p.lead Lorem Ipsum Dolor Sit
    p
        | Nam sit 
        abbr(title='abbreviations and acronyms') amet
        |  turpis feugiat, 
        strong pretium dolor
        |  quis, auctor massa. Phasellus non dolor dictum, laoreet diam eu, vulputate justo. 
        em Donec ultrices
        |  mi ut 
        abbr(title='abbreviation for a slightly smaller font-size').initialism pulvinar
        |  pretium
    p
        small Etiam ac leo neque. Morbi ac est posuere, convallis velit.
    p.muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
    p.text-warning Etiam porta sem malesuada magna mollis euismod.
    p.text-error Donec ullamcorper nulla non metus auctor fringilla.
    p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam.
    p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.