section.bs-cell.pad-top
    header.bs-title Breadcrumbs
    
    ul.breadcrumb
        li.active Home
    ul.breadcrumb
        li
            a(href='#') Home
            |  
            span.divider /
        li.active Library
    ul.breadcrumb
        li
            a(href='#') Home
            |  
            span.divider /
        li
            a(href='#') Library
            |  
            span.divider /
        li.active Data
