section.bs-cell.pad-top
    header.bs-title Buttons &ndash; Sizes
    p
        button(type='button', style='margin-bottom: 5px;').btn.btn-primary.btn-large Large button
    p
        button(type='button', style='margin-bottom: 5px;').btn.btn-primary Default button
    p
        button(type='button', style='margin-bottom: 5px;').btn.btn-primary.btn-small Small button
    p
        button(type='button', style='margin-bottom: 5px;').btn.btn-primary.btn-mini Mini button