section.bs-cell.pad-top
    header.bs-title Buttons &ndash; Types
    p
        button(type='button').btn.btn-block Default
    p
        button(type='button').btn.btn-block.btn-primary Primary
    p
        button(type='button').btn.btn-block.btn-info Info
    p
        button(type='button').btn.btn-block.btn-success Success
    p
        button(type='button').btn.btn-block.btn-warning Warning
    p
        button(type='button').btn.btn-block.btn-danger Danger
    p
        button(type='button').btn.btn-block.btn-inverse Inverse
    p
        button(type='button').btn.btn-block.btn-link Link