section.bs-cell.pad-top
    header.bs-title Buttons &ndash; Disabled
    p
        button(type='button').btn.btn-block.disabled Default
    p
        button(type='button').btn.btn-block.btn-primary.disabled Primary
    p
        button(type='button').btn.btn-block.btn-info.disabled Info
    p
        button(type='button').btn.btn-block.btn-success.disabled Success
    p
        button(type='button').btn.btn-block.btn-warning.disabled Warning
    p
        button(type='button').btn.btn-block.btn-danger.disabled Danger
    p
        button(type='button').btn.btn-block.btn-inverse.disabled Inverse
    p
        button(type='button').btn.btn-block.btn-link.disabled Link