section.bs-cell.bs-cell-big
    header.bs-title Description
    dl
        dt Description lists
        dd A description list is perfect for defining terms.
        dt Euismod
        dd Etiam porta sem malesuada magna mollis euismod.
    hr
    dl.dl-horizontal
        dt Horizontal description
        dd A description list is perfect for defining terms.
        dt Euismod
        dd Etiam porta sem malesuada magna mollis euismod.