section.bs-cell.pad-top
    header.bs-title Dropdown menu
    .dropdown.clearfix
        ul(style='display: block; position: static; margin-bottom: 15px;').dropdown-menu
            li
                a(href='#') Action
            li
                a(href='#') Another action
            li
                a(href='#') Something else here
            li.divider
            li.nav-header Nav header
            li
                a(href='#') Separated link
            li
                a(href='#') One more separated link