section.bs-cell.pad-top
    header.bs-title Form &ndash; Elements
    input(type='text', placeholder='Text input').span2
    br
    textarea(rows='2', placeholder='Text area').span2
    br
    select.span2
        option 1
        option 2
        option 3
        option 4
        option 5
    br
    select(multiple='multiple').span2
        option 1
        option(selected='selected') 2
        option 3
        option 4
        option 5
    br
    label.checkbox.inline
        input#inlineCheckbox1(type='checkbox', value='1', checked='checked')
        |  1
    label.checkbox.inline
        input#inlineCheckbox2(type='checkbox', value='2')
        |  2
    label.checkbox.inline
        input#inlineCheckbox3(type='checkbox', value='3')
        |  3
    br
    label.radio.inline
        input#inlineRadio1(type='radio', name='elements_radio', value='1', checked='checked')
        |  1
    label.radio.inline
        input#inlineRadio2(type='radio',name='elements_radio', value='2')
        |  2
    label.radio.inline
        input#inlineRadio3(type='radio',name='elements_radio', value='3')
        |  3