section.bs-cell.bs-cell-big.pad-top
    header.bs-title Form &ndash; Horizontal
    form.form-horizontal
        .control-group
            label(for='inputEmail').control-label Email
            .controls
                input#inputEmail(type='text', placeholder='Email')
        .control-group
            label(for='inputPassword').control-label Password
            .controls
                input#inputPassword(type='password', placeholder='Password')
        .control-group
            .controls
                label(for='inputPassword').checkbox Remember me
                    input(type='checkbox')
                button(type='submit').btn Sign in