section.bs-cell.pad-top
    header.bs-title Form &ndash; States
    .control-group
        .controls
            input(type='text', placeholder='Invalid input', required).span2
    .control-group
        .controls
            input(type='text', placeholder='Disabled input', disabled).span2
    .control-group.warning
        .controls
            input(type='text', value='Warning class', placeholder='Warning class').span2
    .control-group.error
        .controls
            input(type='text', value='Error class', placeholder='Error class').span2
    .control-group.info
        .controls
            input(type='text', value='Info class', placeholder='Info class').span2
    .control-group.success
        .controls
            input(type='text', value='Success class', placeholder='Success class').span2