section.bs-cell.bs-cell-big
    header.bs-title Images
    p
        img(data-src='holder.js/130x130', width='130', height='130', alt='placeholder').img-rounded
        |  &nbsp; 
        img(data-src='holder.js/130x130', width='130', height='130', alt='placeholder').img-circle
        |  &nbsp; 
        img(data-src='holder.js/130x130', width='130', height='130', alt='placeholder').img-polaroid