section.bs-cell.pad-top
    header.bs-title Labels and Badges
    p(style='line-height: 1.8;')
        span.label Default
        |  
        span.label.label-success Success
        |  
        span.label.label-warning Warning
        |  
        span.label.label-important Important
        |  
        span.label.label-info Info
        |  
        span.label.label-inverse Inverse
    p
        span.badge 1
        |  
        span.badge.badge-success 2
        |  
        span.badge.badge-warning 4
        |  
        span.badge.badge-important 6
        |  
        span.badge.badge-info 8
        |  
        span.badge.badge-inverse 10