section.bs-cell.bs-cell-big
    header.bs-title Lists
    ul
        li Unordered list
        li Consectetur adipiscing elit
        li
            | Nulla volutpat aliquam velit
            ul
                li Phasellus iaculis neque
        li Faucibus porta lacus fringilla vel
    hr
    ol
        li Ordered list
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
    hr
    ul.unstyled
        li Unstyled list
        li
            | Consectetur adipiscing elit
            ul
                li Phasellus iaculis neque
        li Faucibus porta lacus fringilla vel
    hr
    ul.inline
        li Inline list
        li Lorem ipsum
        li Phasellus iaculis