section.bs-cell.bs-cell-big
    header.bs-title Media Object
    .media
        a.pull-left(href='#')
            img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;')
        .media-body
            h4.media-heading Media heading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae turpis justo. Phasellus mauris dolor, molestie vitae nulla in, sodales faucibus neque.
            .media
                a.pull-left(href='#')
                    img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;')
                .media-body
                    h4.media-heading Media child
                    | Ut gravida tempor tristique. Vivamus pharetra, nisl id sagittis fringilla, magna lorem tincidunt elit, id mattis leo lacus in lectus.
    .media
        a.pull-right(href='#')
            img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;')
        .media-body
            h4.media-heading Media heading
            | Aenean fringilla leo id sem viverra pretium. Quisque faucibus nisi accumsan augue euismod mattis. Donec fringilla tincidunt odio ac faucibus.