section.bs-cell.bs-cell-full.pad-top
    header.bs-title Modal
    .modal(style='position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Modal header
        .modal-body
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae turpis justo. Phasellus mauris dolor, molestie vitae nulla in, sodales faucibus neque. Aenean fringilla leo id sem viverra pretium. Quisque faucibus nisi accumsan augue euismod mattis. Donec fringilla tincidunt odio ac faucibus.
        .modal-footer
            a.btn(href='#') Button
            a.btn.btn-primary(href='#myModal', data-toggle='modal') Launch demo modal