section.bs-cell
    header.bs-title Pager
    ul.pager
        li
            a(href='#') Previous
        li
            a(href='#') Next
    ul.pager
        li.previous.disabled
            a(href='#') ← Older
        li.next
            a(href='#') Newer →
