section.bs-cell.bs-cell-full.pad-top
    header.bs-title Popover
    .clearfix.text-center
        .popover.top(style='display: inline-block; position: relative; margin-right: 30px; margin-bottom: 40px;')
            .arrow
            h3.popover-title Popover top
            .popover-content
                p Lorem ipsum dolor sit amet, euismod adipiscing elit. Vitae turpis venenatis justo fermentum.
        .popover.right(style='display: inline-block; position: relative; margin-bottom: 40px;')
            .arrow
            h3.popover-title Popover right
            .popover-content
                p Phasellus mauris dolor, molestie vitae nulla in, sodales faucibus neque fringilla leo consectetur.
        .popover.bottom(style='display: inline-block; position: relative; margin-right: 50px; margin-bottom: 15px;')
            .arrow
            h3.popover-title Popover bottom
            .popover-content
                p Quisque faucibus nisi accumsan augue euismod mattis. Donec fringilla tincidunt egestas.
        .popover.left(style='display: inline-block; position: relative; margin-bottom: 15px;')
            .arrow
            h3.popover-title Popover left
            .popover-content
                p Proin id blandit augue, vel hendrerit metus. Ut gravida tempor tristique nisl placerat elementum.