section.bs-cell.pad-top
    header.bs-title Progress Bars &ndash; Striped
    .progress.progress-striped
        .bar(style='width: 80%;')
    .progress.progress-info.progress-striped
        .bar(style='width: 45%;')
    .progress.progress-success.progress-striped
        .bar(style='width: 65%;')
    .progress.progress-warning.progress-striped
        .bar(style='width: 45%;')
    .progress.progress-danger.progress-striped
        .bar(style='width: 70%;')
    .progress.progress-striped
        .bar.bar-success(style='width: 30%;')
        .bar.bar-warning(style='width: 50%;')
        .bar.bar-danger(style='width: 10%;')