section.bs-cell.pad-top
    header.bs-title Progress Bars
    .progress
        .bar(style='width: 60%;')
    .progress.progress-info
        .bar(style='width: 70%;')
    .progress.progress-success
        .bar(style='width: 85%;')
    .progress.progress-warning
        .bar(style='width: 50%;')
    .progress.progress-danger
        .bar(style='width: 90%;')
    .progress
        .bar.bar-success(style='width: 45%;')
        .bar.bar-warning(style='width: 20%;')
        .bar.bar-danger(style='width: 15%;')