section.bs-cell.pad-top
    header.bs-title Progress Bars &ndash; Animated
    .progress.progress-striped.active
        .bar(style='width: 40%;')
    .progress.progress-info.progress-striped.active
        .bar(style='width: 75%;')
    .progress.progress-success.progress-striped.active
        .bar(style='width: 55%;')
    .progress.progress-warning.progress-striped.active
        .bar(style='width: 85%;')
    .progress.progress-danger.progress-striped.active
        .bar(style='width: 45%;')
    .progress.progress-striped.active
        .bar.bar-success(style='width: 25%;')
        .bar.bar-warning(style='width: 40%;')
        .bar.bar-danger(style='width: 25%;')