section.bs-cell.pad-top
    header.bs-title Stacked &ndash; Pills
    ul.nav.nav-pills.nav-stacked
        li.active: a(href='#') Home
        li: a(href='#') Blog
        li: a(href='#') Messages
        li: a(href='#') Log out