section.bs-cell
    header.bs-title Table &ndash; Example 3
    table.table
        thead
            tr
                th #
                th Fruit
        tbody
            tr.success
                td 1
                td Apple
            tr.error
                td 2
                td Strawberry
            tr.warning
                td 3
                td Banana
            tr.info
                td 4
                td Blueberry