section.bs-cell.bs-cell-big.pad-top
    header.bs-title Tabs &ndash; Horizontal
    ul#myTab.nav.nav-tabs
        li.active: a(href='#home', data-toggle='tab') Home
        li: a(href='#profile', data-toggle='tab') Profile
        li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
                | Dropdown 
                b.caret
            ul.dropdown-menu
                li: a(href='#dropdown1', data-toggle='tab') Sub 1
                li: a(href='#dropdown2', data-toggle='tab') Sub 3
    #myTabContent.tab-content
        #home.tab-pane.fade.in.active
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae turpis justo. Phasellus mauris dolor, molestie vitae nulla in, sodales faucibus neque. Aenean fringilla leo id sem viverra pretium. 
        #profile.tab-pane.fade
            p Quisque faucibus nisi accumsan augue euismod mattis. Donec fringilla tincidunt odio ac faucibus. Proin id blandit augue, vel hendrerit metus. Duis varius urna nec tincidunt mollis.
        #dropdown1.tab-pane.fade
            p Ut gravida tempor tristique. Vivamus pharetra, nisl id sagittis fringilla, magna lorem tincidunt elit, id mattis leo lacus in lectus. Mauris iaculis lorem quis facilisis tincidunt. Donec tincidunt dui ut semper sodales.
        #dropdown2.tab-pane.fade
            p Proin blandit, tellus vitae interdum luctus, nisl libero rhoncus dolor, vitae eleifend quam ligula in nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu arcu at velit laoreet consequat.