extends layouts/main

block content
    include fragments/headings
    include fragments/body_copy
    include fragments/address
    include fragments/code
    include fragments/blockquotes
    include fragments/lists
    include fragments/description
    include fragments/table_1
    include fragments/table_2
    include fragments/table_3
    include fragments/form_basic
    include fragments/form_horizonatal
    include fragments/form_elements
    include fragments/form_states
    include fragments/form_extended
    include fragments/buttons_types
    include fragments/buttons_disabled
    include fragments/buttons_sizes
    include fragments/images
    include fragments/tabs_horizontal
    include fragments/tabs_vertical
    include fragments/pills
    include fragments/stackable_tabs
    include fragments/stackable_pills
    include fragments/dropdown
    include fragments/nav_list
    include fragments/nav_bars
    include fragments/breadcrumbs
    include fragments/pagination
    include fragments/pager
    include fragments/labels_and_badges
    include fragments/hero
    include fragments/page_header
    include fragments/thumbnails
    include fragments/alerts
    include fragments/modal
    include fragments/carousel
    include fragments/popover
    include fragments/accordion
    include fragments/progress_bars
    include fragments/progress_bars_striped
    include fragments/progress_bars_animated
    include fragments/media_object
    include fragments/tooltips
    include fragments/well

block bottom
    include fragments/modal_demo